// Colores
$color-white: #ffffff;
$color-cyan: #A9D6CB;
$color-darkblue: #264065;
$color-gray: #7a7a7a;
$color-black: #070D15;

// Tipografías
$fuente-principal: 'Poppins', sans-serif;
$fuente-secundaria: 'Nunito Sans', sans-serif;

// Ancho máximo de la página
$max-width: 1920px;
