// Colores
$color-black-text: #151515;
$color-black-bg: #000000;
$color-gold: #D5966C;
$color-white: #FFFFFF;
$color-dark-gray: #444444;

// Tipografías
$fuente-principal: 'Outfit', sans-serif;
$fuente-secundaria: 'Big Shoulders Display', sans-serif;

// Breakpoints (mobile-first)
$bp-mobile: 480px;   // pequeños móviles / base
$bp-tablet: 768px;   // tablets
$bp-laptop: 1024px;  // ordenadores portátiles (notebooks)
$bp-desktop: 1440px; // pantallas grandes / desktop
